Go to 
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
   <h3> Listado de estudiantes </h3>
    </div>
    <div class="col-md-6 test-end" *ngIf="listEstudiantes.length > 0" >
        <button class="btn btn-primary" (click)="mostrarEstudiantes()" > Mostrar Lista de estudiantes</button>
    </div>
    <hr>

    <div class="row">
    <br>

    <table class="table" *ngIf="mostrar">
    <thead>
       <br> <th>#</th>
        <th>Nombre</th>
        <th>Estado</th>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of  listEstudiantes; let i= index">
           <td></td> 
            <td>{{ i + 1}}</td>
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.estado }}</td>
        </tr>
    </tbody>
    </table>
    <h4 *ngIf="listEstudiantes.length ===0"> No hay estudiantes registrados</h4>
    </div>