<nav class="navbar navbar-expand-lg  " style="background-color: #138fe2; ">    
  <div class="container-fluid">
      <a class="navbar-brand" href="#" >
        <img src="C:/Users/Anahi/Desktop/Pratica-210439/HolaMundo/src/app/nav-bar/image.png" width="30" height="30" alt="">  
      210317</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Minimizar Menú de navegación" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Perfil del alumno</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Practicas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item fw-bold">Prácticas de Conceptos Básicos de  Angular</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/practica01">Practica 01: hola mundo</a></li>
              <li><a class="dropdown-item" routerLink="/practica02">Practica 02: Bootstrap y NavBar</a></li>
              <li><a class="dropdown-item" routerLink="/practica03">Practica 03: Data Binding</a></li>
              <li><a class="dropdown-item" routerLink="/practica04">Practica 04: Property Binding</a></li>
              <li><a class="dropdown-item" routerLink="/practica05">Practica 05: Two Way Data Binding</a></li>
              <li><a class="dropdown-item" routerLink="/practica06">Practica 06: Event Binding</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item fw-bold">Prácticas de Directivas de  Angular</a></li>
              <li><a class="dropdown-item" routerLink="/practica07">Practica 07: *ngFor </a></li>
              <li><a class="dropdown-item" routerLink="/practica08">Practica 08: *ngIf </a></li>
              <li><a class="dropdown-item" routerLink="/practica09">Practica 09: ngStyle </a></li>
              <li><a class="dropdown-item" routerLink="/practica10">Practica 10: ngClass </a></li>
              <li><a class="dropdown-item" routerLink="/practica11">Practica 11: ngSwitch </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item fw-bold"> Aplicaciones</a></li>
              <li><a class="dropdown-item" routerLink="/practica12">Practica 12: TecladoSonidos </a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>