
<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
        <app-sidebar ></app-sidebar>
        </div>
        <div class="col overflow-autofill">

        <div class="row panel_contenido align-top"> <router-outlet></router-outlet>  </div>
        <div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Teclado</a>
              
              
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Do</a>
                <a href="#" class="list-group-item list-group-item-action" style="background-color: rgb(218, 182, 236);">Re</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Mi</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Fa</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Sol</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">La</a>
                <a href="#" class="list-group-item list-group-item-action" style="background-color: rgba(203, 203, 203, 0.952);">Si</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Do</a>
              </div>

              <audio controls>
                <source src="../../../assets/sonidos/note1.wav">
              </audio>
        </div>
        </div>
            <div class="row">
            <app-footer></app-footer>
        </div>
        
        
    
            
    </div>
    
</div>
  